*, *:after, *:before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "DM Sans", sans-serif;
	background-color: #f2f5f7;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.post {
	/* display: flex; */
	/* text-decoration: none; */
	color: inherit;
	/* max-width: 400px; */
	position: relative;
	/* padding: 2rem; */
	/* box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC; */
	background-color: #FFF;

	&:before {
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #000;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .4s ease-out;
	}

	&:hover {
		.post-text {
			color: #FFF;
		}

		.post-item {
			background-color: #000;
		}

		&:before {
			transform: scaleY(1);
		}
	}
}

.post-text {
	position: relative;
	transition: .4s ease-out;
}

.post-item {
	position: relative;
	transition: .4s ease-out;
}

.remark-code-title {
	font-family: "DM Sans", sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 2px;

}

.remark-code-title::before {
	content: '📁';
	margin-right: 5px;
}

.toc::before {
	content: "Table of Contents";
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 1rem;
}

.toc-level {
	list-style: auto;
}

.toc {
    /* background: #f9f9f9 none repeat scroll 0 0; */
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
	justify-content: center;
}

.toc-level-1 {
	margin-left: 1em;
}

.toc-level-2 {
	margin-left: 2em;
}

.toc-level-3 {
	margin-left: 3em;
}

.astro-code {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 5px;
	box-shadow: 0 0 0 1px #000, 0 0 0 2px #fff;
}

table {
	border-radius: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}