<div>
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="label dark:bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 dark:text-black" viewBox="0 0 20 20" fill="currentColor">
            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                clip-rule="evenodd" />
        </svg>
        <div class='ball dark:bg-black'></div>
    </label>
    <script>
        const checkbox = document.getElementById('checkbox') as HTMLInputElement;
        const isAlreadyEnabled = sessionStorage.getItem('darkMode') === 'true';

        if (isAlreadyEnabled) {
            checkbox.checked = true;
            document.querySelector("html").classList.toggle('dark');
        }
        checkbox.addEventListener('change', () => {
            document.querySelector("html").classList.toggle('dark');
            sessionStorage.setItem('darkMode', checkbox.checked.toString());
        });
    </script>
</div>

<style>
    body {
        transition: background 0.2s linear;
    }

    .checkbox {
        opacity: 0;
        position: absolute;
    }

    .label {
        width: 50px;
        height: 26px;
        background-color: #111;
        display: flex;
        border-radius: 50px;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.5);
    }

    .ball {
        width: 20px;
        height: 20px;
        background-color: white;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
    }

    /*  target the elemenent after the label*/
    .checkbox:checked+.label .ball {
        transform: translateX(24px);
    }

    .fa-moon {
        color: pink;
    }

    .fa-sun {
        color: yellow;
    }
</style>